 body {
     height: 100%;
     background-image: url(../img/background.jpg);
/*     text-shadow: 2px 2px #990000;
*/ }

 main {

     position: absolute;
     top: 20%;
     right: 0px;
     left: 0px;
     bottom: 0px
 }

 header {
     position: absolute;
     top: 0px;
     left: 0px;
     right: 0px;
     height: 20%
 }

 h1 {
 	height: 20%;
     color: #4d0000;
     text-align: center;
     font-family: "Book Antiqua";
     font-size: 80px;
     font-style: italic;
 }


 #button {
     display: flex;
     align-items: center;
     justify-content: center;
     
 }


 #controls {
     display: flex;
     align-items: center;
     justify-content: center;
     position: absolute;
     bottom: 20px;
     left: 0px;
     width: 100%;
     height: 20%;
 }

 button {
     width: 230px;
     height: 95px;
     background-color:    #cccccc;
     border: solid 3px #800000;
     color: #4d0000;
     font-family: "Book Antiqua";
     border-radius: 12px;
     font-size: 30px;
     font-style: bold;
     text-shadow: 1px 1px black;
     margin-right: 20px;
 }
 button:hover{
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
 }

 #clockdiv {
     text-align: center;
     height: 340px;
     display: flex;
     align-items: center;
     justify-content: center;
     color:#4d0000;
 }

 span {
     font-size: 70px;
 }
